<ion-header>
  <ion-toolbar>
    <ion-title>Чат с мастером</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="chat-messages">
    @for (msg of messages(); track msg.id) {
      <div class="message-wrapper" [class.is-client]="msg.sender === 'client'" [class.is-master]="msg.sender === 'master'">
        @if (msg.sender === 'master') {
          <ion-avatar class="master-avatar">
            <img src="https://ionicframework.com/docs/img/demos/avatar.svg" alt="master" />
          </ion-avatar>
        }
        <div class="message-bubble" [class.client-bubble]="msg.sender === 'client'" [class.master-bubble]="msg.sender === 'master'">
          <ion-text>
            <p>{{ msg.text }}</p>
          </ion-text>
          <span class="message-time">{{ msg.time }}</span>
        </div>
      </div>
    }
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="message-input-wrapper">
      <ion-input
        class="message-input"
        placeholder="Введите сообщение..."
        [value]="newMessage()"
        (ionInput)="onMessageInput($event)"
      ></ion-input>
      <ion-button
        fill="clear"
        size="default"
        [disabled]="!newMessage().trim()"
        (click)="sendMessage()"
      >
        <ion-icon name="send-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>
