<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="news" [routerLink]="['/tabs/news']">
      <ion-icon name="newspaper"></ion-icon>
      <ion-label>Портфолио</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="calendar" [routerLink]="['/tabs/calendar']">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>Запись</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="chat" [routerLink]="['/tabs/chat']">
      <ion-icon name="chatbubbles-outline"></ion-icon>
      <ion-label>Чат</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" [routerLink]="['/tabs/profile']">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Профиль</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
