<ion-header>
  <ion-toolbar>
    <ion-title>Обо мне</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="about-avatar">
    <img
      src="https://api.dicebear.com/7.x/avataaars/svg?seed=master&backgroundColor=b6e3f4"
      alt="avatar"
      class="avatar-img"
    />
    <h2>Анна</h2>
    <p class="specialization">Мастер маникюра</p>
  </div>

  <ion-list class="about-list">
    <ion-item>
      <ion-icon name="location-outline" slot="start" color="primary"></ion-icon>
      <ion-label>
        <h3>Город</h3>
        <p>Екатеринбург</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="call-outline" slot="start" color="primary"></ion-icon>
      <ion-label>
        <h3>Телефон</h3>
        <p>+7 (912) 345-67-89</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="ribbon-outline" slot="start" color="primary"></ion-icon>
      <ion-label>
        <h3>Скиллы</h3>
        <p>
          Маникюр и педикюр<br />
          Гель-лаковое покрытие<br />
          Наращивание ногтей<br />
          Дизайн ногтей<br />
          Укрепление ногтей
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
